<header>
  <div class="wrapper">
    <a class="logo-with-link" href="/">
      <img class="logo" src={{ "images/logo.png" | absURL }} alt="">
    </a>
    <p>
      Weekly tech articles, programming & automation tips by
      <span class="inline-block">
        <a href="{{ .Site.Params.linkedinUrl }}" rel="nofollow" target="_blank"
          >Balabharathi Jayaraman</a
        >.
      </span>
    </p>
    <nav>
      <ul>
        <li><a href="/">All Tags</a></li>
        <li><a href="/">Weekly Articles</a></li>
        <li><a href="/">Programming</a></li>
        <li><a href="/">Automation Tips</a></li>
      </ul>
    </nav>
  </div>
</header>
