:root {
  --bg-color: #313131;
  --primaryColor: #ff3d24;
  --white: #fff;
  --secondaryColor: #cb3018;
  --primaryGradient: linear-gradient(
    to bottom right,
    #ff644e,
    var(--secondaryColor)
  );
  --titleFontColor2: var(--secondaryColor);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: var(--white);
}

html {
  background-color: var(--bg-color);
}

header {
  display: block;
  position: relative;
  line-height: 1.5em;
  padding: 0 20px;
  background: var(--primaryGradient);
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

a:any-link {
  cursor: auto;
}

header nav {
  display: inline-block;
  background-color: var(--white);
  border-radius: 10px;
  margin-top: 10px;
  overflow: hidden;
}

header nav li {
  display: inline-block;
}

ul {
  display: block;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 2px 5px;
}

li {
  text-align: -webkit-match-parent;
}

li > a {
  display: block;
  color: var(--titleFontColor2);
  padding: 0 5px;
  line-height: 30px;
  text-decoration: none;
}

li > a:hover {
  text-decoration: underline;
}

.wrapper {
  max-width: 900px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 0 20px 0;
}

.logo {
  width: 800px;
}

.devContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
}

.development-text {
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  color: #999797;
  font-weight: bold;
}

.devipimage {
  width: 100px;
}

.invisible-text {
  color: #313131;
}

/* For smaller devices */

@media only screen and (max-width: 800px) {
  header nav {
    border-radius: 15px;
  }

  .wrapper > a > .logo {
    width: 100%;
  }

  .wrapper > a > p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 13px;
  }

  li > a {
    font-size: 15px;
  }

  .development-text {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #999797;
    font-weight: bold;
  }

  .devipimage {
    width: 50px;
  }

  .invisible-text {
    font-size: 10px;
  }
}
