/* ======= Global Styles ======= */

:root {
  --bg-color: #313131;
  --primaryColor: #ff3d24;
  --white: #fff;
  --secondaryColor: #cb3018;
  --primaryGradient: linear-gradient(
    to bottom right,
    #ff644e,
    var(--secondaryColor)
  );
  --titleFontColor2: var(--secondaryColor);
  --font: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
  color: var(--white);
}

/* ======= HTML Default Tags & Global Styles ======= */

html {
  background-color: var(--bg-color);
}

header {
  display: block;
  position: relative;
  line-height: 1.5em;
  padding: 0 20px;
  background: var(--primaryGradient);
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0.1px;
  padding-inline-end: 0.1px;
}

li {
  display: inline-block;
  text-align: -webkit-match-parent;
}

li > a {
  display: block;
  color: var(--titleFontColor2);
  padding: 0 5px;
  line-height: 30px;
  text-decoration: none;
}

li > a:hover {
  display: block;
  color: #fff;
  background-color: #cb3018;
  text-decoration: none;
}

/* ======= Navigation bar Specific Styles ======= */

header nav {
  display: inline-block;
  background-color: var(--white);
  border-radius: 10px;
  margin-top: 10px;
  overflow: hidden;
}

header nav li {
  display: inline-block;
}

/* ======= Custom Components Styles ======= */

/* ======= Text styles ======= */

.title-style-1 {
  background: -webkit-linear-gradient(var(--primaryColor), var(--secondaryColor));
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  font-size: 64px;
}

.description-style-1 {
  font-weight: 900;
  font-size: 28px;
}

/* ======= Container Styles ======= */

.content-wrapper {
  width: 70%;
  margin: 0 auto;
}

.navbar-wrapper,
.middled-container {
  max-width: 900px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 0 20px 0;
}

/* ======= Images ======= */
.site-logo {
  width: 800px;
}

.owner-logo {
  width: 200px;
  border-radius: 50%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

/* ======= Devlopment Banner ======= */
.devContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
}

.development-text {
  font-family: var(--font);
  font-size: 32px;
  color: #999797;
  font-weight: bold;
}

.devipimage {
  width: 100px;
}

.invisible-text {
  color: var(--bg-color);
}

/* ======= Smaller width styles ======= */

@media only screen and (max-width: 800px) {
  /* ======= Custom Components Styles ======= */
  /* ======= Text styles ======= */
  .title-style-1 {
    font-size: 36px;
  }

  .description-style-1 {
    font-size: 14px;
  }

  .content-wrapper {
    width: 100%;
  }

  header nav {
    border-radius: 15px;
  }

  .navbar-wrapper > a > .site-logo {
    width: 100%;
  }

  .navbar-wrapper > a > p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 13px;
  }

  li > a {
    font-size: 15px;
  }

  .owner-logo {
    width: 125px;
  }

  /* ======= Development Banner ======= */
  .development-text {
    font-size: 16px;
  }

  .devipimage {
    width: 50px;
  }

  .invisible-text {
    font-size: 10px;
  }
}
